#clock, 
#clockUA, 
#clockEN {
    margin: 20px auto;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #016901;
    font-weight: 600;
    font-size: 42px;
    
}
#clock span.string, 
#clockUA span.string,
#clockEN span.string {
    font-size: 28px;
    font-weight: normal;
    color: #000;
}
#main-slider .carousel .item .full.fullsize .counter{
    text-align: center;
    margin: 1% 0;
}
#main-slider .carousel .item .full.fullsize .counter .count{
    color: #fff;
    margin: 15px 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: normal;
}
#main-slider .carousel .item .full.fullsize .counter .count .num {
    font-size: 45px;
    border: 1px solid #000;
    background: rgba(0,0,0,.6);
    padding: 15%;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 4px;
}
#main-slider .carousel .item .full.fullsize .counter .count p {
    font-size: 24px;
    text-transform: uppercase;
}
#dates .row.timer {
    margin: 10px 0!important;
}
#dates .count, #main-slider .count {
    display: inline-block; 
    text-align: center;
    font-size: 22px;
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;    
}
#dates .timer .descr{
    font-size: 28px;
    margin: 20px 0 10px;
    line-height: normal;
}
#dates .timer .count .num {
    margin: 0 15px 10px;
    padding: 20% 0;
    width: 60px;
    height: 62px;
    color: #fff;
    vertical-align: text-top;
    background-color: rgb(255, 143, 0);
    border-radius: 3.3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 4px;
    font-weight: 700;
    font-size: 30px;
}