#clock, 
#clockUA, 
#clockEN {
    margin: 20px auto;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #016901;
    font-weight: 600;
    font-size: 42px;
    
}
#clock span.string, 
#clockUA span.string,
#clockEN span.string {
    font-size: 28px;
    font-weight: normal;
    color: #000;
}