#about-conf .container,
#contacts .container,
#contacts .person .img-block,
#contacts .person,
#contacts .map,
#contacts .address,
#conditions .container,
#conditions .price_table,
#conditions .price_table .note,
#conditions .attention,
#conditions .requisites,
#conditions .requisites div,
#location .container,
#location .container .txt-block,
#insidePhoto .container {
  padding-left: 0;
  padding-right: 0;
}
/*MIXINS*/
/*--MIXINS--*/
body,
html {
  background: #f5f5f5 url("../images/speakers/body-bg.png") repeat;
  font-family: 'Open Sans Condensed', sans-serif;
}
h2,
h3,
h4,
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
}
hr {
  margin: 0;
  margin-bottom: 0;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
#about-conf h2 {
  font-size: 32px;
  text-align: left;
  padding: 0 15px;
  color: #004a00;
}
#about-conf h3 {
  font-size: 28px;
}
#about-conf .item-group {
  margin: 1% 0;
}
#about-conf .item-group .col-lg-12 {
  padding-right: 0;
}
#about-conf .item-group h3 {
  text-transform: none;
  margin-bottom: 25px;
  cursor: default;
  font-size: 26px;
}
#about-conf .item-group .item {
  height: 515px;
  text-align: center;
}
#about-conf .item-group .item .img-block {
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
#about-conf .item-group .item .img-block img {
  width: 100%;
  height: 100%;
}
#about-conf .item-group .item .txt-block {
  color: #000;
  cursor: default;
  background: transparent;
  height: 165px;
  padding: 10px 0;
}
#about-conf .item-group .item .txt-block .sname {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0;
}
#about-conf .item-group .item .txt-block .fname,
#about-conf .item-group .item .txt-block .proff,
#about-conf .item-group .item .txt-block .from {
  font-size: 18px;
}
#about-conf .item-group .item .txt-block hr {
  margin: 3px 0;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
.features .feature-wrap {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
}
.features .feature-wrap:hover,
.features .feature-wrap:focus,
.features .feature-wrap:active {
  box-shadow: 0 0 8px rgba(1,105,1,0.6);
  cursor: pointer;
}
.features .feature-wrap h2 {
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 10px;
}
.features .feature-wrap img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.features .feature-wrap p {
  font-size: 16px;
}
.features .all-speakers {
  text-align: center;
}
.features .all-speakers a {
  background: #228b22;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
.features .all-speakers a:hover,
.features .all-speakers a:focus,
.features .all-speakers a:active {
  background: #007600;
}
#contact-info {
  background: transparent;
  text-align: center;
  padding: 20px 0;
}
#contact-info .contact-info i {
  width: auto;
  height: auto;
  background: transparent;
  line-height: normal;
  font-size: 28px;
}
#contact-info .media h2 {
  color: #000;
  font-size: 36px;
  margin-bottom: 20px;
}
#contact-info .media p {
  font-size: 30px;
  margin-bottom: 20px;
}
#contact-info .media p span {
  font-size: 34px;
  color: #004a00;
  font-weight: 800;
}
#contact-info .media .registr {
  background: #228b22;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
#contact-info .media .registr:hover,
#contact-info .media .registr:focus,
#contact-info .media .registr:active {
  background: #007600;
}
#recent-works .center {
  padding-bottom: 20px;
}
#recent-works .photo {
  padding: 0;
}
#recent-works .photo .recent-work-wrap .overlay {
  background: #228b22;
}
#recent-works .photo .recent-work-wrap .overlay .recent-work-inner {
  margin-top: 25%;
}
#recent-works .photo .recent-work-wrap .overlay .recent-work-inner a {
  font-size: 26px;
  margin-left: 25%;
}
#partner {
  padding: 20px 0;
  background: #fff;
}
#partner hr {
  margin: 10px 0;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
#partner .container {
  margin-top: 25px;
}
#partner .center {
  padding-bottom: 10px;
}
#partner .center h2 {
  color: #000;
}
#main-slider .carousel-content {
  background: rgba(0,0,0,0.5);
  padding: 20px;
}
#main-slider .carousel-content h2,
#main-slider .carousel-content h1 {
  text-align: center;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
}
#main-slider .carousel-content .btn-slide {
  background: #228b22;
}
#contacts {
  padding: 10px 0;
}
#contacts hr {
  margin: 0;
  margin-bottom: 0;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
#contacts h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
}
#contacts h3 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: left;
}
#contacts .person p {
  font-size: 18px;
}
#contacts .person .img-block img {
  width: 100%;
}
#contacts .person .txt-block {
  padding: 25px 10px;
}
#contacts .person .txt-block h2 {
  text-align: left;
  text-transform: none;
  font-size: 26px;
  color: #000;
  margin-top: 0;
}
#contacts .person .txt-block p {
  font-size: 20px;
}
#contacts .address h3 {
  text-align: left;
  font-weight: bold;
}
#contacts .address p {
  font-size: 20px;
  margin: 0;
  text-align: center;
}
#contacts .map,
#contacts .address {
  margin-top: 35px;
}
#contacts .map h3,
#contacts .address h3 {
  margin: 10px 0;
  text-align: center;
}
#conditions {
  padding: 10px 0;
}
#conditions h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
}
#conditions .price_table {
  color: #444;
  font-size: 100%;
  margin: 10px auto;
  width: 100%;
  display: block;
}
#conditions .price_table .align_center {
  text-align: center;
}
#conditions .price_table .description {
  width: 100%;
}
#conditions .price_table .description p {
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  font-size: 18px;
}
#conditions .price_table .pack-title {
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(125,207,61,0.4);
  width: 100%;
  background: #004a00;
  padding: 15px 0;
}
#conditions .price_table .column_1 {
  height: 100%;
  float: left;
  width: 20%;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  background: #fff;
  border: 1px solid #000;
}
#conditions .price_table .column_1.hover {
  position: relative;
  z-index: 100;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.7);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
#conditions .price_table .column_1.hover .pack-title {
  color: #e3c55e;
}
#conditions .price_table .members {
  width: 59%;
  height: 100%;
}
#conditions .price_table .note p {
  font-size: 18px;
  margin: 10px 0;
}
#conditions .attention h3 {
  text-align: left;
  font-size: 26px;
  color: #9b0000;
  font-weight: bold;
}
#conditions .attention p {
  font-size: 18px;
}
#conditions .requisites hr {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
#conditions .requisites h2 {
  text-align: center;
  font-size: 28px;
}
#conditions .requisites h3 {
  text-align: left;
  font-size: 24px;
  text-transform: none;
}
#conditions .requisites p {
  font-size: 20px;
}
#articles {
  padding: 10px 0;
}
#articles h2 {
  font-size: 32px;
  text-align: left;
}
#articles hr {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0.5), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
#articles h3 {
  text-align: left;
  font-size: 26px;
}
#articles .general,
#articles .requirements,
#articles .commission {
  padding: 0 0 15px;
}
#articles .general p,
#articles .requirements p,
#articles .commission p {
  font-size: 20px;
  margin: 15px 0;
  line-height: 28px;
}
#articles .general img {
  float: right;
  margin: 0 10px;
  box-shadow: 10px 10px 15px 3px rgba(0,0,0,0.5);
}
#articles .general a {
  color: rgba(1,105,1,0.8);
  text-decoration: underline;
}
#articles .general a:hover {
  color: #000;
}
#articles .requirements i,
#articles .commission i {
  display: inline-block;
}
#articles .requirements a,
#articles .commission a {
  display: block;
  margin: 0.4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
}
#articles .requirements a:hover,
#articles .commission a:hover,
#articles .requirements a:focus,
#articles .commission a:focus {
  color: #fff;
}
#articles .requirements a p,
#articles .commission a p {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}
#articles .requirements a i,
#articles .commission a i {
  font-size: 28px;
}
#footer {
  background: #000;
  padding: 0 0;
}
#footer p {
  font-size: 20px;
  margin: 15px 0;
}
#footer .navbar-inverse {
  background: #000;
  padding: 15px 0;
}
#footer .navbar-inverse ul li {
  margin-left: 0;
  padding-bottom: 0;
}
#program {
  padding: 0;
}
#program .container h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
}
#program .container .content .section {
  margin: 15px 0 35px;
}
#program .container .content .section ul {
  list-style: none;
  padding: 0;
}
#program .container .content .section ul li {
  font-size: 20px;
  line-height: 28px;
}
#program .container .content .section .large {
  font-size: 30px;
  margin: 10px 0;
}
#program .container .content i {
  display: inline-block;
}
#program .container .content a {
  display: block;
  margin: 20px 0;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
}
#program .container .content a:hover,
#program .container .content a:focus {
  color: #fff;
}
#program .container .content a p {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}
#program .container .content a i {
  font-size: 28px;
}
#location {
  padding: 0;
}
#location .container h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
}
#location .container .row {
  margin: 25px 0;
}
#location .container .row .txt-block {
  padding: 2% 0;
}
#location .container .row .txt-block.right-padd {
  padding-right: 15px;
}
#location .container .row .txt-block.left-padd {
  padding-left: 15px;
}
#location .container .row .txt-block p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
#location .container .row .txt-block .contacts {
  margin: 25px 0;
}
#location .container .row .txt-block .contacts p {
  line-height: normal;
}
#location .container .row .txt-block .booking p {
  margin-bottom: 15px;
}
#location .container .row .txt-block .booking a {
  padding: 15px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 1px 1px 1px rgba(125,207,61,0.4);
}
#location .container .row .txt-block .booking a img {
  height: 35px;
}
#location .container .row .img-block {
  padding-left: 0;
  padding-right: 0;
}
#location .container .row .img-block img {
  width: 100%;
  height: 100%;
}
#location .map {
  margin: 0 0 15px;
}
#speakers {
  padding: 0;
}
#speakers .container h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
}
#speakers .container .tabs {
  margin: 20px 0;
}
#speakers .container .tabs ul.nav-tabs li {
  border: transparent;
  margin-right: 15px;
  width: 32%;
  text-align: center;
}
#speakers .container .tabs ul.nav-tabs li.active a,
#speakers .container .tabs ul.nav-tabs li:hover a {
  color: #fff;
}
#speakers .container .tabs ul.nav-tabs li a {
  font-size: 24px;
  background: #000;
  padding: 20px 25px;
  color: #909090;
}
#speakers .container .tabs .tab-content {
  padding: 30px 0 20px;
  text-align: justify;
}
#speakers .container .tabs .tab-content .speaker {
  margin-bottom: 30px;
}
#speakers .container .tabs .tab-content .speaker .row {
  margin: 0;
}
#speakers .container .tabs .tab-content .speaker .row .img-block,
#speakers .container .tabs .tab-content .speaker .row .txt-block {
  display: inline-block;
}
#speakers .container .tabs .tab-content .speaker .row .img-block {
  width: 16%;
}
#speakers .container .tabs .tab-content .speaker .row .img-block img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 8px solid #fff;
}
#speakers .container .tabs .tab-content .speaker .row .txt-block {
  padding: 0 10px;
  width: 83%;
  vertical-align: middle;
}
#speakers .container .tabs .tab-content .speaker .row .txt-block .name {
  font-size: 26px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
#speakers .container .tabs .tab-content .speaker .row .txt-block p {
  color: #000;
  margin: 0 0 20px;
  font-size: 18px;
}
#speakers .container .tabs .tab-content .speaker .row .txt-block .post {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}
#speakers .container .tabs .tab-content .speaker .spoiler {
  padding-left: 25px;
  margin-top: 15px;
}
#speakers .container .tabs .tab-content .speaker .spoiler p {
  color: #000;
  margin: 0 0 20px;
  font-size: 18px;
}
#speakers .container .tabs .tab-content .speaker .spoiler p.content,
#speakers .container .tabs .tab-content .speaker .spoiler p.about,
#speakers .container .tabs .tab-content .speaker .spoiler p.lang {
  font-weight: bold;
  font-size: 22px;
}
#speakers .container .tabs .tab-content .speaker hr {
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -moz-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -ms-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
  background-image: -o-linear-gradient(left, rgba(1,105,1,0), rgba(1,105,1,0.5), rgba(1,105,1,0));
}
#speakers .container .tabs .tab-content .master-class {
  margin-top: 15px;
}
#speakers .container .tabs .tab-content .master-class .info {
  text-align: center;
  width: 100%;
  display: block;
}
#speakers .container .tabs .tab-content .master-class .info .title {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
#speakers .container .tabs .tab-content .master-class .info .title h3 {
  font-weight: 400;
  font-size: 20px;
}
#speakers .container .tabs .tab-content .master-class .info .title h2 {
  font-weight: 700;
  text-align: center;
  color: #000;
  font-size: 32px;
}
#speakers .container .tabs .tab-content .master-class .info .photo {
  display: inline-block;
  margin-left: 20px;
}
#speakers .container .tabs .tab-content .master-class .info .photo img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#speakers .container .tabs .tab-content .master-class .description,
#speakers .container .tabs .tab-content .master-class .links {
  width: 100%;
  margin-top: 45px;
}
#speakers .container .tabs .tab-content .master-class .description ul,
#speakers .container .tabs .tab-content .master-class .links ul {
  list-style: none;
  padding: 0;
}
#speakers .container .tabs .tab-content .master-class .description ul li,
#speakers .container .tabs .tab-content .master-class .links ul li {
  font-size: 20px;
  padding: 5px 0;
}
#speakers .container .tabs .tab-content .master-class .description .logo,
#speakers .container .tabs .tab-content .master-class .links .logo {
  width: 24.5%;
  display: inline-block;
}
#speakers .container .tabs .tab-content .master-class .description .logo img,
#speakers .container .tabs .tab-content .master-class .links .logo img {
  width: 100%;
  height: 100%;
}
#speakers .container .tabs .tab-content .master-class .description p,
#speakers .container .tabs .tab-content .master-class .links p {
  font-size: 20px;
  line-height: 30px;
}
#speakers .container .tabs .tab-content .master-class .description p.name,
#speakers .container .tabs .tab-content .master-class .links p.name {
  font-size: 26px;
  font-weight: bold;
  color: #000;
}
#regLink {
  width: 100%;
  background: #000;
  padding: 25px 0;
  text-align: center;
}
#regLink a {
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 50px 0;
  vertical-align: middle;
}
#regLink p {
  display: inline-block;
  color: #fff;
  margin: 0;
  font-size: 40px;
  line-height: normal;
  vertical-align: middle;
  margin-right: 20px;
}
#regLink .img-left,
#regLink .img-right {
  margin: 15px 0 0;
  display: inline-block;
  vertical-align: middle;
}
#regLink .img-left img,
#regLink .img-right img {
  width: 70px;
}
#regLink .img-left img {
  transform: rotate(90deg);
}
#regLink .img-right img {
  transform: rotate(270deg);
}
ul#language-selector {
  padding: 10px 0;
  margin: 0;
}
ul#language-selector li {
  padding: 0;
  width: 28px;
  height: 28px;
  text-align: center;
}
ul#language-selector li.active {
  background: #228b22;
}
.member-create .hidden.info-for-speaker {
  display: block !important;
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  font-size: 18px;
}
.form-horizontal h3 {
  color: #333;
  font-size: 22px;
  margin-top: 40px;
}
.form-horizontal h3:hover {
  color: #333;
}
.form-horizontal .summary-info .success th {
  text-align: center;
  font-size: 16px;
}
.form-group .form-control {
  font-size: 16px;
  padding: 3px 12px;
}
#lang-note,
#text-info {
  font-size: 18px;
}
.form-group button[type="submit"] {
  font-size: 18px;
}
#insidePhoto {
  padding: 0;
}
#insidePhoto .container h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
}
#insidePhoto .container .tabs {
  margin: 20px 0;
}
#insidePhoto .container .tabs ul.nav-tabs li {
  border: transparent;
  margin-right: 15px;
  width: 32%;
  text-align: center;
}
#insidePhoto .container .tabs ul.nav-tabs li.active a,
#insidePhoto .container .tabs ul.nav-tabs li:hover a {
  color: #fff;
}
#insidePhoto .container .tabs ul.nav-tabs li a {
  font-size: 24px;
  background: #000;
  padding: 20px 25px;
  color: #909090;
}
#insidePhoto .container .tabs .tab-content img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#insidePhoto .container .tabs .tab-content .presentation {
  width: 20%;
  height: auto;
  display: inline-block;
  margin: 20px 25px;
  border: 4px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#insidePhoto .container .tabs .tab-content .presentation a {
  display: block;
}
#insidePhoto .container .tabs .tab-content .presentation a img {
  width: 100%;
  height: 100%;
}
#insidePhoto .container .tabs .tab-content #tab-3 {
  padding: 50px 0;
}
#insidePhoto .container .tabs .tab-content #tab-3 .download {
  display: block;
  margin: 20px 0;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
}
#insidePhoto .container .tabs .tab-content #tab-3 .download:hover,
#insidePhoto .container .tabs .tab-content #tab-3 .download:focus {
  color: #fff;
}
#insidePhoto .container .tabs .tab-content #tab-3 .download p {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}
#insidePhoto .container .tabs .tab-content #tab-3 .download i {
  font-size: 28px;
}
#archive {
  padding: 0;
}
#archive .container h2 {
  font-size: 32px;
  text-align: left;
  color: #004a00;
  margin-bottom: 20px;
}
#archive .container .row {
  margin: 0 0 35px;
  height: 275px;
  overflow: hidden;
}
#archive .container .row .img-block {
  padding: 0;
}
#archive .container .row .img-block img {
  width: 100%;
  height: 100%;
}
#archive .container .row .txt-block {
  text-align: justify;
}
#archive .container .row .txt-block h2 {
  color: #000;
  margin: 0 0 20px;
}
#archive .container .row .txt-block p {
  font-size: 18px;
  color: #000;
  margin: 0 0 20px;
}
#archive .container .row .txt-block a {
  display: block;
  color: #fff;
  background: #000;
  width: 150px;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#archive .container .row .txt-block a:hover,
#archive .container .row .txt-block a:focus {
  color: #fff;
}
#dates {
  background: #f2f2f2;
}
#dates .row {
  margin: 0 0 20px;
}
#dates .row .part {
  width: 16%;
  display: inline-block;
  margin: 0 1.9%;
  vertical-align: middle;
}
#dates .row .part .title {
  font-size: 40px;
  color: #000;
  text-align: center;
  line-height: normal;
}
#dates .row .part img {
  width: 100%;
  height: 100%;
}
#dates .row .part img.article {
  padding: 10px;
}
#dates .row .part .number,
#dates .row .part .descr {
  display: block;
  text-align: center;
}
#dates .row .part .number {
  border: 1px solid #00b350;
}
#dates .row .part .number.black {
  border: 1px solid #000;
}
#dates .row .part .number.black p {
  color: #000;
}
#dates .row .part .number.red {
  border: 1px solid #c00000;
}
#dates .row .part .number.red p {
  color: #c00000;
}
#dates .row .part .number p {
  font-size: 46px;
  color: #00b350;
  line-height: normal;
  margin: 0;
}
#dates .row .part .number p:first-child {
  font-size: 66px;
  line-height: 66px;
}
#dates .row .part .descr {
  background: #00b350;
  font-size: 22px;
  padding: 20px 5px;
  color: #fff;
  height: 120px;
  line-height: normal;
}
#dates .row .part .descr p {
  line-height: 24px;
}
#dates .row .part .descr.black {
  background: #000;
}
#dates .row .part .descr.red {
  background: #c00000;
}
